{% extends 'common_app_templates/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_department.css' %}">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}




<section id="main_body">
    <div class="heading" style="padding-top: 100px; padding-bottom: 20px;">
        <h1 class="heading_text text-center mb-2" style="font-family: sans-serif;"><u>Our Departments</u> </h1>
    </div>

    <div class="container">
        <div class="row gy-3 my-3" style="padding-bottom: 80px;">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner">
                        <img class="card-img-top" src="{% static 'images/Cardiology.jpg' %} " alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Department of Cardio</h5>
                        <p class="card-text">Cardio improves many aspects of health, including heart health, mental
                            health, mood, sleep, weight regulation and
                            metabolism. Actually, the heart becomes more efficient with every beat as it pumps
                            oxygen-carrying blood, the lungs more
                            effective in taking in oxygen, and the muscles more equipped to use more oxygen</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/cosmetology.webp' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Cosmetology</h5>
                        <p class="card-text">Cosmetology is the study and application of beauty treatment. Branches of
                            specialty include hairstyling, skin care,
                            cosmetics, manicures/pedicures, non-permanent hair removal such as waxing and sugaring, and
                            permanent hair removal
                            processes such as electrology and intense pulsed light.</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/psychologist.jpg' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Psychology</h5>
                        <p class="card-text">Psychology is the scientific study of how people behave, think and feel.
                            Psychologists study everything about the human
                            experience from the basic workings of the human brain to consciousness, memory, reasoning
                            and language to personality
                            and mental health.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/gynaecology.png' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Gynaecology</h5>
                        <p class="card-text">Gynaecology or gynecology is the area of medicine that involves the
                            treatment of women's diseases, especially those of
                            the reproductive organs. It is often paired with the field of obstetrics, forming the
                            combined area of obstetrics and
                            gynecology. The term comes from Greek and means "the science of women"</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top"
                            src="{% static 'images/specialty_oncology_1_376da7aabb.jpg' %} " alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Oncology</h5>
                        <p class="card-text">Oncology is a branch of medicine that deals with the study, treatment,
                            diagnosis and prevention of cancer. A medical
                            professional who practices oncology is an oncologist. The name's etymological origin is the
                            Greek word ὄγκος, meaning
                            "tumor", "volume" or "mass".</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/pexels-pixabay-40568.jpg' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Neurology</h5>
                        <p class="card-text">Neurology is the branch of medicine dealing with the diagnosis and
                            treatment of all categories of conditions and disease
                            involving the brain, the spinal cord and the peripheral nerves. Neurological practice relies
                            heavily on the field of
                            neuroscience, the scientific study of the nervous system</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/psychiatry.jpg' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Psychiatry</h5>
                        <p class="card-text">Psychiatry is the medical specialty devoted to the diagnosis, prevention,
                            and treatment of mental disorders. These
                            include various maladaptations related to mood, behaviour, cognition, and perceptions. See
                            glossary of psychiatry.</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner"><img class="card-img-top" src="{% static 'images/Pediatrician.jpg' %} "
                            alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Department of Pediatrics</h5>
                        <p class="card-text">Pediatrics is the branch of medicine that involves the medical care of
                            infants, children, adolescents, and young adults.
                            In the United Kingdom, paediatrics covers many of their youth until the age of 18.</p>

                    </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-4 col-lg-4">
                <div class="card">
                    <div class="inner">
                        <img class="card-img-top" src="{% static 'images/different-types-of-dental-procedures.jpg' %} "
                            alt="Card image cap">
                    </div>


                    <div class="card-body">
                        <h5 class="card-title">Department of Orthodontics</h5>
                        <p class="card-text">Orthodontics is a dentistry specialty that addresses the diagnosis,
                            prevention, management, and correction of
                            mal-positioned teeth and jaws, and misaligned bite patterns.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- footer -->


{% endblock %}