{% extends 'common_app_templates/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style_profile.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block title %}hello{% endblock %}
{% block content %}



<div id="profile_page">

    <section class="profileBody py-5"
        style="background-image: url('{% static 'images/doctor-stethoscope-hand-hospital-background-gown-94227568.jpg' %}');">
        <div class="container">
            <div class="row px-5">
                <div class="col-md-12 col-xl-4">
                    <div class="card" style="background: linear-gradient(to bottom, #1e90ff, #b0c4de);">
                        <div class="card-header">
                            <img src="{% static 'images/proimg.png' %}" alt="" class="profile-img">
                        </div>
                        <div class="card-body">
                            <p class="name">Patient Name :</p>
                            <p class="id">Patient ID :</p>
                            <a href="" class="mail">Patient Email :</a>
                        </div>
                        <div class="social-links">
                            <a href="#" class="bi bi-instagram"></a>
                            <a href="#" class="bi bi-facebook"></a>
                            <a href="#" class="bi bi-whatsapp"></a>
                        </div>
                        <div class="appBtn">
                            <button><a href="{% url 'patient:booking' %}">GET AN APPOINTMENT</a></button>
                        </div>
                        <div class="d-flex justify-content-between text-center mt-3 mb-2">
                            <div>
                                <p class="h6">Visited On</p>
                                <p class="text-muted mb-0">23/06/2022</p>
                            </div>
                            <div>
                                <p class=" h6">Next Visit</p>
                                <p class="text-muted mb-0">23/07/2022</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>



</div>






<!-- footer -->
{% endblock %}