

nav .collapse ul li a{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    transition: all 400ms;
}

nav .collapse ul li a:hover{
    padding: 10px;
    background: rgb(87, 71, 71);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
}